.cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 600px;
  justify-content: center;
  margin: 0 auto;
}

.card {
  width: 200px;
  height: 300px;
  margin: 10px;
  display: flex;
  background-size: cover;
  position: relative;
  box-shadow: 1px 1px;
}

.card img {
  border: 3px solid white;
  background:
      /* top, transparent red, faked with gradient */
      linear-gradient(
        rgba(255, 0, 0, 0.45),
        rgba(255, 0, 0, 0.45)),
    }

.card span {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-left: 10px;
  color: white;
}

.card a {
  color: white;
}

.row{
  display: flex;
  flex-wrap: wrap;

}

.card-title {
  vertical-align: bottom;
  a {
    color: #F5CB5C;
  }
}

.cocktail-card {
  line-height: 40px;
  height: 40px;
  text-align: center;
  margin-top: 20px;
}

.cocktail-card-home-delete {
  display: flex;
  line-height: 40px;
  height: 40px;
  text-align: center;
  margin-top: 20px;
  a {
    display: flex;
    justify-content: center;
    padding: 10px;
  }
}

.cocktail-card-home-delete {
  justify-content: center;
}

.cocktail-mini-card {
  line-height: 30px;
  height: 30px;
  text-align: center;
  display: flex;
  p {
    padding-right: 25px;
    color: white;
  }
}

.add-cocktail-div {
  width: 500px;
  margin: 0 auto;
  margin-top: 20px;
}

.cocktail-show-container {
  margin: 0 auto;
}

.cocktail-image-card {
  display: flex;
  flex-direction: column;
  margin: 0;
  img {
    border: 2px solid white;
    box-shadow: 1px 1px 1px;
    border-radius: 5px;
  }
}

.card h5 {
  text-shadow: 1px 1px 2px pink;
}

.cocktail-show-container {
  display: flex;
  width: 600px;
  margin: 0 auto;
}

.cocktail-info-card {
  margin-left: 20px;
  h3 {
    color: #F5CB5C;
    text-shadow: 1px 1px 1px white;
  }
}
