.banner {
  margin: 0 auto;
  height: 100px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 15px;
  margin-bottom: 20px;
  color: white;
}



.banner h1 {
  text-shadow: 1px 1px 2px pink;
}


#add-cocktail a {
  color: #F5CB5C;
  text-shadow: 1px 1px 1px white;
}

